html 
    head 
        title Vulnerabilites 
    body
        
        h1 Wrong password 
        ul 
            li: a(href='/', title='Home') Frontpage
            

        
    form(action='/query', method='POST')
        p
            | Unesite broj kola(1-4): 
            input(type='text', name='Query', value='')

            input(id='SQLinjection', name='SQLinjection' type='checkbox')

            | Vulnerability                  


        input(type='submit', value='Send request')


    form(action='/login', method='POST')
        p
            | Username: 
            input(type='text', name='Username', value='')

            | Password: 
            input(type='text', name='Password', value='')

            input(id='BadAuth', name='BadAuth' type='checkbox')

            | Vulnerability                  


        input(type='submit', value='Send request')


        
        