html 
    head 
        title Live results view 
    body
        if username
            h1 Welcome 
        ul 
            li: a(href='/', title='Home') Frontpage
        
        
    form(action='/query', method='POST')
        p
            | Unesite broj kola(1-4): 
            input(type='text', name='Query', value='')

            input(id='SQLinjection', name='SQLinjection' type='checkbox' )

            | Vulnerability                  


        input(type='submit', value='Send request')


        ul 
            
            li: a Live results below:

            
            ul 
                each utakmica in printrez
                    li= utakmica