html
    
    include includes/head.pug

    
    
    body

    
        
        h1 TOP 10 rated IMDB movies

        ul 
            li: a(href='/', title='Home') Frontpage

        
            

        
    form(action='/query', method='POST')
        p( class = "srch") 
            | Search: 
            input(type='text', name='Query', value='', class = "txt")
                


            input(type='submit', value='Send request', class = "btn")

    
    table#movie_nameTAB.display.nowrap
        thead
            tr  
                th IMDB ranking
                th #
                th Movie Name
                th Director
                th Genre
                th Rating
                th Stars
                th Awards
                th Movie Year
                th Movie Length


    script(type="text/javascript", src="https://code.jquery.com/jquery-3.5.1.js")
    script(src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js")
    
    script.
        console.log("From the view")
       
        // Initialize the DataTable
        $(document).ready(function () {
            $('#movie_nameTAB').DataTable({
                //lengthMenu: [ 3, 5, 10 ],
                // Set the starting row
                // of the DataTable
                //displayStart: 1
                "ajax": { url:'/queryAJAX',
                            dataSrc:'data'
                },

                "columns": [
                    { 'data': 'imdb_ranking' },
                    { 'data': 'movie_id' },
                    { 'data': 'movie_name' },
                    { 'data': 'direcetor' },
                    { 'data': 'genre' },
                    { 'data': 'rating' },
                    { 'data': 'stars' },
                    { 'data': 'awards' },
                    { 'data': 'movie_year' },
                    { 'data': 'movie_length' }
                ],

                buttons: [{ 

                    text: 'JSON',
                action: function ( e, dt, button, config ) {
                    var data = dt.buttons.exportData();
 
                    $.fn.dataTable.fileSave(
                        new Blob( [ JSON.stringify( data ) ] ),
                        'Export.json'
                    );
                }
                


                }]

                


            

            });
        });


    ul
         
        a(href="DatabaseExportMovies.CSV") Download CSV Dump

    ul
        
        a(href="MoviesJsonDump.JSON") Download JSON Dump
  


    include includes/foot.pug
        
        